In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df = pd.read_csv("AviationData2.csv", header=None, na_values='?')
df.head()

/var/folders/rr/3tz5xt4j16s1wvxsg7zr8hg80000gn/T/ipykernel_3029/1080423495.py:1: DtypeWarning: Columns (6,7,17,23,24,25,26,28,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("AviationData2.csv", header=None, na_values='?')

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,NaN
1,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2,0,0,0,UNK,Cruise,Probable Cause,NaN,NaN
2,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4,0,0,0,UNK,Unknown,Probable Cause,19-09-1996,NaN
3,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,NaN
4,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2,0,0,0,IMC,Cruise,Probable Cause,12-09-2000,NaN

In [17]:
for i in range(df.shape[1]):
# count number of rows with missing values
    n_miss = df[[i]].isnull().sum()
    perc = n_miss / df.shape[0] * 100
    print('> %d, Missing: %d (%.1f%%)' % (i, n_miss, perc))

> 0, Missing: 0 (0.0%)
> 1, Missing: 0 (0.0%)
> 2, Missing: 0 (0.0%)
> 3, Missing: 0 (0.0%)
> 4, Missing: 52 (0.1%)
> 5, Missing: 226 (0.3%)
> 6, Missing: 54507 (61.3%)
> 7, Missing: 54516 (61.3%)
> 8, Missing: 38640 (43.5%)
> 9, Missing: 36100 (40.6%)
> 10, Missing: 1000 (1.1%)
> 11, Missing: 3194 (3.6%)
> 12, Missing: 56600 (63.7%)
> 13, Missing: 1319 (1.5%)
> 14, Missing: 63 (0.1%)
> 15, Missing: 92 (0.1%)
> 16, Missing: 102 (0.1%)
> 17, Missing: 6083 (6.8%)
> 18, Missing: 7078 (8.0%)
> 19, Missing: 56863 (64.0%)
> 20, Missing: 76307 (85.8%)
> 21, Missing: 6195 (7.0%)
> 22, Missing: 72238 (81.3%)
> 23, Missing: 11403 (12.8%)
> 24, Missing: 12509 (14.1%)
> 25, Missing: 11933 (13.4%)
> 26, Missing: 5913 (6.7%)
> 27, Missing: 4492 (5.1%)
> 28, Missing: 27163 (30.6%)
> 29, Missing: 6384 (7.2%)
> 30, Missing: 13771 (15.5%)
> 31, Missing: 88864 (100.0%)

In [10]:
# Method 1: Using column indexing
columns_to_remove = ['Event.Id', 'Accident.Number', 'Latitude', 'Longitude', 'Registration.Number', 'Unnamed: 31']

# Method 2: Using drop() function
df = df.drop(columns=columns_to_remove, inplace=True)

In [11]:
df.head()

AttributeError: 'NoneType' object has no attribute 'head'